<div class="modal">
  <div class="modal-container">
    <div class="modal-body">
      <button class="modal-close close-trigger">
        <span class="modal-close__bar"></span>
        <span class="modal-close__bar"></span>
      </button>
      <div class="modal-content">
        <div class="modal-filter">
          <div class="modal-filter__header">
            Choose a service
          </div>
          <ul class="modal-row">
            <li class="modal-row__toggle modal-row__toggle--active">
              <span class="modal-row__toggle-text">
                design
              </span>
            </li>
            <li class="modal-row__toggle">
              <span class="modal-row__toggle-text">
                DIGITAL & WEB
              </span>
            </li>
            <li class="modal-row__toggle">
              <span class="modal-row__toggle-text">
                CREATIVE & STRATEGY
              </span>
            </li>
            <li class="modal-row__toggle">
              <span class="modal-row__toggle-text">
                PRODUCTION
              </span>
            </li>
            <li class="modal-row__toggle">
              <span class="modal-row__toggle-text">
                smm
              </span>
            </li>
          </ul>
        </div>
        <form action="POST" class="form">
          <div class="form-fields">
            <div class="form-fields__item">
              <input type="text" placeholder="Company name" class="form-fields__input">
              <div class="form-warning">
                <img src="../../img/sprite/warning-icon.svg" alt="warning-icon">
              </div>
              <div class="form-point">
                <div class="form-tooltip">
                  Please provide your company name.
                </div>
              </div>
            </div>
            <div class="form-fields__item">
              <textarea class="form-fields__input" placeholder="A few words about the project and approximate budgets"></textarea>
              <div class="form-warning">
                <img src="../../img/sprite/warning-icon.svg" alt="warning-icon">
              </div>
              <div class="form-point">
                <div class="form-tooltip">
                  Please enter a message.
                </div>
              </div>
            </div>
            <div class="form-fields__item">
              <input type="text" placeholder="Company name" class="form-fields__input">
              <div class="form-warning">
                <img src="../../img/sprite/warning-icon.svg" alt="warning-icon">
              </div>
              <div class="form-point">
                <div class="form-tooltip">
                  Please enter an valid email address.
                </div>
              </div>
            </div>
            <div class="form-fields__item">
              <input type="text" placeholder="Company name" class="form-fields__input">
              <div class="form-warning">
                <img src="../../img/sprite/warning-icon.svg" alt="warning-icon">
              </div>
              <div class="form-point">
                <div class="form-tooltip">
                  Please enter an valid telephone number.
                </div>
              </div>
            </div>
            <div class="form-fields__item">
              <input type="text" placeholder="Company name" class="form-fields__input">
              <div class="form-warning">
                <img src="../../img/sprite/warning-icon.svg" alt="warning-icon">
              </div>
              <div class="form-point">
                <div class="form-tooltip">
                  Please enter your name.
                </div>
              </div>
            </div>
          </div>
          <button class="form-send">
            <span class="form-send__text">send</span>
          </button>
        </form>
      </div>
      <div class="modal-result">
        <div class="modal-inner">
          <div class="modal-heading">
            <div class="modal-title">
              Thank you!
            </div>
            <div class="modal-sub">We have received your application and will in touch soon.</div>
          </div>
          <button class="modal-return close-trigger">
            to main page
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
