<div class="modal">
  <div class="modal-container">
    <div class="modal-body">
      <button class="modal-close close-trigger">
        <span class="modal-close__bar"></span>
        <span class="modal-close__bar"></span>
      </button>
      <div class="modal-content">
        <div class="modal-filter">
          <div class="modal-filter__header">
            Choose a service
          </div>
        </div>
        <form action="#" class="form">
          <ul class="modal-row">
            <label data-order="2" class="modal-row__toggle">
                DESIGN
              <input class="input-checkbox" type="checkbox" name="DESIGN">
            </label>
            <label data-order="1" class="modal-row__toggle">
              DIGITAL & WEB
            <input class="input-checkbox" type="checkbox" name="DIGITAL">
          </label>
            <label data-order="3" class="modal-row__toggle">
                CREATIVE & STRATEGY
              <input class="input-checkbox" type="checkbox" name="CREATIVE & STRATEGY">
            </label>
            <label data-order="4" class="modal-row__toggle">
                PRODUCTION
              <input class="input-checkbox" type="checkbox" name="PRODUCTION">
            </label>
            <label data-order="5" class="modal-row__toggle">
                smm
              <input class="input-checkbox" type="checkbox" name="SMM">
            </label>
          </ul>
          <div class="form-fields">
            <div class="form-fields__item">
              <input required type="text" name="Company Name" placeholder="Company name" class="form-fields__input input-company">
              <div class="form-warning">
                <img src="../../img/sprite/warning-icon.svg" alt="warning-icon">
              </div>
              <div class="form-point">
                <div class="form-tooltip">
                  Please provide your company name.
                </div>
              </div>
            </div>
            <div class="form-fields__item">
              <textarea class="form-fields__input input-message" name="Message" placeholder="A few words about the project and approximate budgets"></textarea>
              <div class="form-warning">
                <img src="../../img/sprite/warning-icon.svg" alt="warning-icon">
              </div>
              <div class="form-point">
                <div class="form-tooltip">
                  Please enter a message.
                </div>
              </div>
            </div>
            <div class="form-fields__item">
              <input type="text" placeholder="Email" required name="Email" class="form-fields__input input-mail">
              <div class="form-warning">
                <img src="../../img/sprite/warning-icon.svg" alt="warning-icon">
              </div>
              <div class="form-point">
                <div class="form-tooltip">
                  Please enter an valid email address.
                </div>
              </div>
            </div>
            <div class="form-fields__item">
              <input required type="tel" name="Телефон" placeholder="Phone" class="form-fields__input input-tel">
              <div class="form-warning">
                <img src="../../img/sprite/warning-icon.svg" alt="warning-icon">
              </div>
              <div class="form-point">
                <div class="form-tooltip">
                  Please enter an valid telephone number.
                </div>
              </div>
            </div>
            <div class="form-fields__item">
              <input required type="text" name="Имя" placeholder="Name" class="form-fields__input input-user">
              <div class="form-warning">
                <img src="../../img/sprite/warning-icon.svg" alt="warning-icon">
              </div>
              <div class="form-point">
                <div class="form-tooltip">
                  Please enter your name.
                </div>
              </div>
            </div>
          </div>
          <button class="form-send">
            <span class="form-send__text">send</span>
          </button>
        </form>
      </div>
      <div class="modal-result">
        <div class="modal-inner">
          <div class="modal-heading">
            <div class="modal-title">
              Thank you!
            </div>
            <div class="modal-sub">We will reply during one working day.</div>
          </div>
          <button class="modal-return close-trigger">
            to main page
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
