<section class="contact section section-4" id="section-4">
  <div class="contact__container container">
    <div class="contact-grid col-10">
      <h3 class="contact-title def-header">
        let’s roll with the best DIGITAL AGENCY IN GEORGIA.
      </h3>
      <div class="contact-arrow">
        <img src="../img/header/arrow.svg" alt="arrow-icon">
      </div>
      <ul class="contact-links">
        <li class="contact-links__item">
          <a href="tel:+995591051591" class="contact-links__ref">+995 591 051 591</a>
        </li>
        <li class="contact-links__item">
          <a href="mailto:hello@qwerty.agency" class="contact-links__ref">hello@qwerty.agency</a>
        </li>
      </ul>
      <ul class="contact-nav">
        <li class="contact-nav__item">
          <a target="_blank" href="#" class="contact-nav__link">Telegram
          </a>
        </li>
        <li class="contact-nav__item">
          <a target="_blank" href="#" class="contact-nav__link">behance
          </a>
        </li>
        <li class="contact-nav__item">
          <a target="_blank" href="#" class="contact-nav__link">facebook
          </a>
        </li>
        <li class="contact-nav__item">
          <a target="_blank" href="#" class="contact-nav__link">instagram
          </a>
        </li>
      </ul>
      <div class="button-container">
        <button class="contact-button button">
          <span class="button-text">
            leave request
          </span>
        </button>
      </div>
    </div>
    <div  class="contact-logo">
      <a href="/" class="contact-logo__icon-container">
        <div class="contact-logo__icon header-logo__icon">
          <img src="../img/header/header-logo.svg" alt="header-logo">
        </div>
        <div class="header-logo__hidden contact-logo__hidden">
          <img src="../img/header/logo-hidden.svg" alt="hidden-info">
        </div>
      </a>
      <div class="contact-logo__info">
        <div class="contact-logo__info-text">
          © 2023 Qwerty.Agency
        </div>
        <div class="contact-logo__info-text">
          Terms & Conditions
        </div>
      </div>
    </div>
  </div>
</section>
