<header class="header">
  <div class="header-dynamic header-top">
    <div class="header__wrapper container">
      <div class="header-row">
        <a href="/" class="header-logo">
          <div class="header-logo__icon">
            <img src="../img/header/header-logo.svg" alt="header-logo">
          </div>
          <div class="header-logo__hidden">
            <img src="../img/header/logo-hidden.svg" alt="hidden-info">
          </div>
        </a>
        <div class="header-row__col">
          <button class="header-btn button modal-trigger">
            <span class="button-text">
              leave request
            </span>
          </button>
          <button class="header-lang">
            <div class="header-lang__selected">
              eng
            </div>
            <div class="header-lang__hidden">
              <ul class="header-lang__list">
                <li class="header-lang__item">
                  UA
                </li>
                <li class="header-lang__item">
                  UA
                </li>
              </ul>
            </div>
          </button>
        </div>
        <button class="header-burger">
          <span class="header-burger__bar"></span>
          <span class="header-burger__bar"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="header__container container">
    <div class="header__body">
      <div class="header-content col-10">
        <h1 class="header-title def-header ">QWERTY agency – the team who creates <br class="header-divider">&nbsp<span class="header-output"></span></h1>
        <div class="header-arrow">
          <img src="../img/header/arrow.webp" alt="header-logo">
        </div>
        <div class="header-info">
          <p>
            We delivers a non-standard approach to provide web, branding and digital marketing services.
          </p>
        </div>
        <button class="header-mob-btn button">
          <span class="button-text">leave request</span>
        </button>
      </div>
    </div>
  </div>
</header>
