<section class="mission">
  <div class="mission__container container">
    <div class="mission__body col-10">
        <h2 class="mission__head">
          <span>Why do you need the website instead of your Facebook page?</span>
        </h2>
      <div class="mission__row figures">
        <div class="figures__item">
          <div class="figures__shape figures__shape--square">

          </div>
          <div class="figures__shape-content">
            Improve customer engagement and support
          </div>
        </div>
        <div class="figures__item">
          <div class="figures__shape figures__shape--circle">

          </div>
          <div class="figures__shape-content">
            Expanding the scope of goods and services
          </div>
        </div>
        <div class="figures__item">
          <div class="figures__shape figures__shape--triangle">

          </div>
          <div class="figures__shape-content">
            Establish a professional online presence
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

