<div class="navbar">
  <div class="navbar__container container">
    <ul class="navbar-list">
      <li class="navbar-list__item" data-id="1">
        <a href="#section-1" class="navbar-list__link">projects</a>
      </li>
      <li class="navbar-list__item" data-id="2">
        <a href="#section-2" class="navbar-list__link">services</a>
      </li>
      <li class="navbar-list__item" data-id="3">
        <a href="#section-3" class="navbar-list__link">MISSION</a>
      </li>
      <li class="navbar-list__item" data-id="4">
        <a href="#section-4" class="navbar-list__link">CONTACTS</a>
      </li>
    </ul>
    <div class="navbar-options">
      <button class="header-lang">
        <div class="header-lang__selected">
          eng
        </div>
        <div class="header-lang__hidden">
          <ul class="header-lang__list">
            <li class="header-lang__item">
              <a href="index-ge.html">
                ge
              </a>
            </li>
            <li class="header-lang__item">
              <a href="index-ru.html">
                ru
              </a>
            </li>
          </ul>
        </div>
      </button>
      <button class="navbar-button header-mob-btn button modal-trigger">
        <span class="button-text">leave request</span>
      </button>
    </div>
  </div>
</div>
