<section class="projects section section-1 section-white" data-id="1" id="section-1">
  <div class="projects__container container">
    <div class="projects__inner col-10">
      <ul class="projects-grid">
        <a href="#" target="_blank" class="projects-grid__item projects-grid__item--visible">
          <div class="projects-grid__item-image">
            <img src="../img/gallery/gallery-pink-image-height.jpg" alt="projects-image">
          </div>
          <div class="projects-grid__content">
            <div class="projects-grid__content-header">
              Monograph
            </div>
            <div class="projects-grid__content-info">
              <ul class="projects-grid__list">
                <li class="projects-grid__list-item">
                  DIGITAL & WEB
                </li>
                <li class="projects-grid__list-item">
                  CREATIVE & STRATEGY
                </li>
              </ul>
            </div>
          </div>
        </a>
        <a href="#" target="_blank" class="projects-grid__item">
          <div class="projects-grid__item-image">
            <img src="../img/gallery/projects-box.webp" alt="projects-image">
          </div>
          <div class="projects-grid__content">
            <div class="projects-grid__content-header">
              Monograph
            </div>
            <div class="projects-grid__content-info">
              <ul class="projects-grid__list">
                <li class="projects-grid__list-item">
                  DIGITAL & WEB
                </li>
                <li class="projects-grid__list-item">
                  CREATIVE & STRATEGY
                </li>
              </ul>
            </div>
          </div>
        </a>
        <a href="#" target="_blank" class="projects-grid__item projects-grid__item--visible">
          <div class="projects-grid__item-image">
            <img src="../img/gallery/gallery-yellow-image.jpg" class="projects-grid__image-main" alt="projects-image">
            <img class="projects-grid__image-hidden" src="../img/gallery/projects-image-citrus.webp" alt="projects-image">
          </div>
          <div class="projects-grid__content">
            <div class="projects-grid__content-header">
              Monograph
            </div>
            <div class="projects-grid__content-info">
              <ul class="projects-grid__list">
                <li class="projects-grid__list-item">
                  DIGITAL & WEB
                </li>
                <li class="projects-grid__list-item">
                  CREATIVE & STRATEGY
                </li>
              </ul>
            </div>
          </div>
        </a>
        <a href="https://monographtbilisi.com/" target="_blank" class="projects-grid__item">
          <div class="projects-grid__item-image">
            <video class="projects-grid__item-video" autoplay muted loop>
              <source src="../img/gallery/Mono_gif.mp4" type="video/mp4">
            </video>
          </div>
          <div class="projects-grid__content">
            <div class="projects-grid__content-header">
              Monograph
            </div>
            <div class="projects-grid__content-info">
              <ul class="projects-grid__list">
                <li class="projects-grid__list-item">
                  DIGITAL & WEB
                </li>
                <li class="projects-grid__list-item">
                  CREATIVE & STRATEGY
                </li>
              </ul>
            </div>
          </div>
        </a>
        <a href="#" target="_blank" class="projects-grid__item projects-grid__item--visible">
          <div class="projects-grid__item-image">
            <img src="../img/gallery/projects-image-flowers.webp" alt="projects-image">
          </div>
          <div class="projects-grid__content">
            <div class="projects-grid__content-header">
              Monograph
            </div>
            <div class="projects-grid__content-info">
              <ul class="projects-grid__list">
                <li class="projects-grid__list-item">
                  DIGITAL & WEB
                </li>
                <li class="projects-grid__list-item">
                  CREATIVE & STRATEGY
                </li>
              </ul>
            </div>
          </div>
        </a>
        <a href="#" target="_blank" class="projects-grid__item">
          <div class="projects-grid__item-image">
            <img src="../img/gallery/gallery-red-image.webp" class="projects-grid__image-hidden" alt="projects-image">
            <img src="../img/gallery/projects-image-eyes.webp" class="projects-grid__image-main" alt="projects-image">
          </div>
          <div class="projects-grid__content">
            <div class="projects-grid__content-header">
              Monograph
            </div>
            <div class="projects-grid__content-info">
              <ul class="projects-grid__list">
                <li class="projects-grid__list-item">
                  DIGITAL & WEB
                </li>
                <li class="projects-grid__list-item">
                  CREATIVE & STRATEGY
                </li>
              </ul>
            </div>
          </div>
        </a>
        <a href="#" target="_blank" class="projects-grid__item">
          <div class="projects-grid__item-image">
            <img src="../img/gallery/gallery-pink-image.webp" class="projects-grid__image-main" alt="projects-image">
            <img src="../img/gallery/projects-image-banana-sliced.webp" class="projects-grid__image-hidden" alt="projects-image">
          </div>
          <div class="projects-grid__content">
            <div class="projects-grid__content-header">
              Monograph
            </div>
            <div class="projects-grid__content-info">
              <ul class="projects-grid__list">
                <li class="projects-grid__list-item">
                  DIGITAL & WEB
                </li>
                <li class="projects-grid__list-item">
                  CREATIVE & STRATEGY
                </li>
              </ul>
            </div>
          </div>
        </a>
      </ul>
    </div>
  </div>
</section>
