<section class="projects">
  <div class="projects__container container">
    <div class="projects__inner col-10">
      <ul class="projects-grid">
        <a href="#" target="_blank" class="projects-grid__item">
          <div class="projects-grid__item-image">
            <img src="../img/gallery/gallery-pink-image-height.jpg" alt="projects-image">
          </div>
          <div class="projects-grid__content">
            <div class="projects-grid__content-header">
              Monograph
            </div>
            <div class="projects-grid__content-info">
              <ul class="projects-grid__list">
                <li class="projects-grid__list-item">
                  DIGITAL & WEB
                </li>
                <li class="projects-grid__list-item">
                  CREATIVE & STRATEGY
                </li>
              </ul>
            </div>
          </div>
        </a>
        <a href="#" target="_blank" class="projects-grid__item">
          <div class="projects-grid__item-image">
            <img src="../img/gallery/gallery-green-image.webp" alt="projects-image">
          </div>
          <div class="projects-grid__content">
            <div class="projects-grid__content-header">
              Monograph
            </div>
            <div class="projects-grid__content-info">
              <ul class="projects-grid__list">
                <li class="projects-grid__list-item">
                  DIGITAL & WEB
                </li>
                <li class="projects-grid__list-item">
                  CREATIVE & STRATEGY
                </li>
              </ul>
            </div>
          </div>
        </a>
        <a href="#" target="_blank" class="projects-grid__item">
          <div class="projects-grid__item-image">
            <img src="../img/gallery/gallery-yellow-image.jpg" alt="projects-image">
          </div>
          <div class="projects-grid__content">
            <div class="projects-grid__content-header">
              Monograph
            </div>
            <div class="projects-grid__content-info">
              <ul class="projects-grid__list">
                <li class="projects-grid__list-item">
                  DIGITAL & WEB
                </li>
                <li class="projects-grid__list-item">
                  CREATIVE & STRATEGY
                </li>
              </ul>
            </div>
          </div>
        </a>
        <a href="#" target="_blank" class="projects-grid__item">
          <div class="projects-grid__item-image">
            <img src="../img/gallery/gallery-brown-image.webp" alt="projects-image">
          </div>
          <div class="projects-grid__content">
            <div class="projects-grid__content-header">
              Monograph
            </div>
            <div class="projects-grid__content-info">
              <ul class="projects-grid__list">
                <li class="projects-grid__list-item">
                  DIGITAL & WEB
                </li>
                <li class="projects-grid__list-item">
                  CREATIVE & STRATEGY
                </li>
              </ul>
            </div>
          </div>
        </a>
        <a href="#" target="_blank" class="projects-grid__item">
          <div class="projects-grid__item-image">
            <img src="../img/gallery/gallery-light-image.webp" alt="projects-image">
          </div>
          <div class="projects-grid__content">
            <div class="projects-grid__content-header">
              Monograph
            </div>
            <div class="projects-grid__content-info">
              <ul class="projects-grid__list">
                <li class="projects-grid__list-item">
                  DIGITAL & WEB
                </li>
                <li class="projects-grid__list-item">
                  CREATIVE & STRATEGY
                </li>
              </ul>
            </div>
          </div>
        </a>
        <a href="#" target="_blank" class="projects-grid__item">
          <div class="projects-grid__item-image">
            <img src="../img/gallery/gallery-red-image.webp" alt="projects-image">
          </div>
          <div class="projects-grid__content">
            <div class="projects-grid__content-header">
              Monograph
            </div>
            <div class="projects-grid__content-info">
              <ul class="projects-grid__list">
                <li class="projects-grid__list-item">
                  DIGITAL & WEB
                </li>
                <li class="projects-grid__list-item">
                  CREATIVE & STRATEGY
                </li>
              </ul>
            </div>
          </div>
        </a>
        <a href="#" target="_blank" class="projects-grid__item">
          <div class="projects-grid__item-image">
            <img src="../img/gallery/gallery-pink-image.webp" alt="projects-image">
          </div>
          <div class="projects-grid__content">
            <div class="projects-grid__content-header">
              Monograph
            </div>
            <div class="projects-grid__content-info">
              <ul class="projects-grid__list">
                <li class="projects-grid__list-item">
                  DIGITAL & WEB
                </li>
                <li class="projects-grid__list-item">
                  CREATIVE & STRATEGY
                </li>
              </ul>
            </div>
          </div>
        </a>
      </ul>
    </div>
  </div>
</section>
