<section class="services section section-2 section-white" id="section-2">
  <div class="services__container container">
    <div class="services__body col-10">
      <ul class="services__items">
        <li class="services__box card">
          <div class="card-grid">
            <div class="card-grid__content">
              <button class="card-collapse">
                <span class="card-collapse__bar"></span>
                <span class="card-collapse__bar"></span>
              </button>
              <div class="card-grid__inner">
                <div class="card-grid__header">
                  DIGITAL & WEB
                </div>
                <ul class="card-list card-list--mob">
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> Website development <br class="card-text-divider"> and support
                  </li>
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> App development
                  </li>
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> Contextual advertising
                  </li>
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> Email marketing
                  </li>
                </ul>
                <div class="card-grid__info">
                  <p>
                    We have a dynamic team of developers and we are used to the agile framework. We can start our journey with just an idea and leave you with a fully functional product with a market share.
                  </p>
                </div>
                <button data-order="1" class="card-grid__btn modal-trigger">
                  <div class="card-grid__btn-price">
                    From <span>1 450 $</span>
                  </div>
                  <div class="card-grid__overlay button">
                    <span class="button-text">leave request</span>
                  </div>
                </button>
              </div>
              <ul class="card-list card-list--desk">
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> Website development <br> and support
                </li>
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> App development
                </li>
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> Contextual advertising
                </li>
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> Email marketing
                </li>
              </ul>
            </div>
            <div class="card-order">01</div>
          </div>
        </li>
        <li class="services__box card">
          <div class="card-grid">
            <button class="card-collapse">
              <span class="card-collapse__bar"></span>
              <span class="card-collapse__bar"></span>
            </button>
            <div class="card-grid__content">
              <div class="card-grid__inner">
                <div class="card-grid__header">
                  DESIGN
                </div>
                <ul class="card-list card-list--mob">
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> 2D & 3D motion graphics
                  </li>
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> Logo & Branding
                  </li>
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> Graphic design
                  </li>
                </ul>
                <div class="card-grid__info">
                  <p>
                    Working with production team during all stages of project creation: from idea generation and product definition to prototyping and specifying development strategy that is based on business goals and target audience requirements.
                  </p>
                </div>
                <button data-order="2" class="card-grid__btn modal-trigger">
                  <div class="card-grid__btn-price">
                    From <span>1 450 $</span>
                  </div>
                  <div class="card-grid__overlay button">
                    <span class="button-text">leave request</span>
                  </div>
                </button>
              </div>
              <ul class="card-list card-list--desk">
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> 2D & 3D motion graphics
                </li>
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> Logo & Branding
                </li>
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> Graphic design
                </li>
              </ul>
            </div>
            <div class="card-order">02</div>
          </div>
        </li>
        <li class="services__box card">
          <div class="card-grid">
            <button class="card-collapse">
              <span class="card-collapse__bar"></span>
              <span class="card-collapse__bar"></span>
            </button>
            <div class="card-grid__content">
              <div class="card-grid__inner">
                <div class="card-grid__header">
                  CREATIVE & STRATEGY
                </div>
                <ul class="card-list card-list--mob">
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> Creative solutions
                  </li>
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> Product strategy
                  </li>
                </ul>
                <div class="card-grid__info">
                  <p>
                    Developing and formalizing creative concepts. We always keep our minds open to new directions and techniques.
                  </p>
                </div>
                <button data-order="3" class="card-grid__btn modal-trigger">
                  <div class="card-grid__btn-price">
                    From <span>2 250 $</span>
                  </div>
                  <div class="card-grid__overlay button">
                    <span class="button-text">leave request</span>
                  </div>
                </button>
              </div>
              <ul class="card-list card-list--desk">
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> Creative solutions
                </li>
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> Product strategy
                </li>
              </ul>
            </div>
            <div class="card-order">03</div>
          </div>
        </li>
        <li class="services__box card">
          <div class="card-grid">
            <button class="card-collapse">
              <span class="card-collapse__bar"></span>
              <span class="card-collapse__bar"></span>
            </button>
            <div class="card-grid__content">
              <div class="card-grid__inner">
                <div class="card-grid__header">
                  PRODUCTION
                </div>
                <ul class="card-list card-list--mob">
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> Photo production
                  </li>
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> Video production
                  </li>
                </ul>
                <div class="card-grid__info">
                  <p>
                    Our collective of experienced artists who are constantly pushing their limits to reach new goals and raise to the new levels. By gathering best talents into one well organized team, we're constantly growing, exploring new design fields, styles, techniques to achieve best results and provide the most incredible visual solutions of any kind.
                  </p>
                </div>
                <button data-order="4" class="card-grid__btn modal-trigger">
                  <div class="card-grid__btn-price">
                    From <span>1 050 $</span>
                  </div>
                  <div class="card-grid__overlay button">
                    <span class="button-text">leave request</span>
                  </div>
                </button>
              </div>
              <ul class="card-list card-list--desk">
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> Photo production
                </li>
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> Video production
                </li>
              </ul>
            </div>
            <div class="card-order">04</div>
          </div>
        </li>
        <li class="services__box card">
          <div class="card-grid">
            <button class="card-collapse">
              <span class="card-collapse__bar"></span>
              <span class="card-collapse__bar"></span>
            </button>
            <div class="card-grid__content">
              <div class="card-grid__inner">
                <div class="card-grid__header">
                  smm
                </div>
                <ul class="card-list card-list--mob">
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--triangle"></span> Content marketing
                  </li>
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--triangle"></span> App development
                  </li>
                </ul>
                <div class="card-grid__info">
                  <p>
                    We offer social media services and search engine service. We create and manage top-performing social media campaigns for businesses. Our company manages social media networks on your behalf. We use relevant social media marketing services to help businesses grow and meet their goals.
                  </p>
                </div>
                <button data-order="5" class="card-grid__btn modal-trigger">
                  <div class="card-grid__btn-price">
                    From <span>1 050 $</span>
                  </div>
                  <div class="card-grid__overlay button">
                    <span class="button-text">leave request</span>
                  </div>
                </button>
              </div>
              <ul class="card-list card-list--desk">
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--triangle"></span> Content marketing
                </li>
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--triangle"></span> App development
                </li>
              </ul>
            </div>
            <div class="card-order">05</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
