<section class="services">
  <div class="services__container container">
    <div class="services__body col-10">
      <ul class="services__items">
        <li class="services__box card">
          <div class="card-grid">
            <div class="card-grid__content">
              <div class="card-grid__inner">
                <div class="card-grid__header">
                  DIGITAL & WEB
                </div>
                <ul class="card-list card-list--mob">
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> Website development <br> and support
                  </li>
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> App development
                  </li>
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> Contextual advertising
                  </li>
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> Email marketing
                  </li>
                </ul>
                <div class="card-grid__info">
                  <p>
                    We have a dynamic team of developers and we are used to the agile framework. We can start our journey with just an idea and leave you with a fully functional product with a market share.
                  </p>
                </div>
                <button class="card-grid__btn">
                  <div class="card-grid__btn-price">
                    From <span>1 450 $</span>
                  </div>
                  <div class="card-grid__overlay button">
                    <span class="button-text">leave request</span>
                  </div>
                </button>
              </div>
              <ul class="card-list card-list--desk">
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> Website development <br> and support
                </li>
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> App development
                </li>
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> Contextual advertising
                </li>
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> Email marketing
                </li>
              </ul>
            </div>
            <div class="card-order">01</div>
          </div>
        </li>
        <li class="services__box card">
          <div class="card-grid">
            <div class="card-grid__content">
              <div class="card-grid__inner">
                <div class="card-grid__header">
                  DIGITAL & WEB
                </div>
                <ul class="card-list card-list--mob">
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> Website development <br> and support
                  </li>
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> App development
                  </li>
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> Contextual advertising
                  </li>
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> Email marketing
                  </li>
                </ul>
                <div class="card-grid__info">
                  <p>
                    We have a dynamic team of developers and we are used to the agile framework. We can start our journey with just an idea and leave you with a fully functional product with a market share.
                  </p>
                </div>
                <button class="card-grid__btn">
                  <div class="card-grid__btn-price">
                    From <span>1 450 $</span>
                  </div>
                  <div class="card-grid__overlay button">
                    <span class="button-text">leave request</span>
                  </div>
                </button>
              </div>
              <ul class="card-list card-list--desk">
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> Website development <br> and support
                </li>
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> App development
                </li>
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> Contextual advertising
                </li>
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> Email marketing
                </li>
              </ul>
            </div>
            <div class="card-order">01</div>
          </div>
        </li>
        <li class="services__box card">
          <div class="card-grid">
            <div class="card-grid__content">
              <div class="card-grid__inner">
                <div class="card-grid__header">
                  DIGITAL & WEB
                </div>
                <ul class="card-list card-list--mob">
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> Website development <br> and support
                  </li>
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> App development
                  </li>
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> Contextual advertising
                  </li>
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> Email marketing
                  </li>
                </ul>
                <div class="card-grid__info">
                  <p>
                    We have a dynamic team of developers and we are used to the agile framework. We can start our journey with just an idea and leave you with a fully functional product with a market share.
                  </p>
                </div>
                <button class="card-grid__btn">
                  <div class="card-grid__btn-price">
                    From <span>1 450 $</span>
                  </div>
                  <div class="card-grid__overlay button">
                    <span class="button-text">leave request</span>
                  </div>
                </button>
              </div>
              <ul class="card-list card-list--desk">
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> Website development <br> and support
                </li>
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> App development
                </li>
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> Contextual advertising
                </li>
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> Email marketing
                </li>
              </ul>
            </div>
            <div class="card-order">01</div>
          </div>
        </li>
        <li class="services__box card">
          <div class="card-grid">
            <div class="card-grid__content">
              <div class="card-grid__inner">
                <div class="card-grid__header">
                  DIGITAL & WEB
                </div>
                <ul class="card-list card-list--mob">
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> Website development <br> and support
                  </li>
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> App development
                  </li>
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> Contextual advertising
                  </li>
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> Email marketing
                  </li>
                </ul>
                <div class="card-grid__info">
                  <p>
                    We have a dynamic team of developers and we are used to the agile framework. We can start our journey with just an idea and leave you with a fully functional product with a market share.
                  </p>
                </div>
                <button class="card-grid__btn">
                  <div class="card-grid__btn-price">
                    From <span>1 450 $</span>
                  </div>
                  <div class="card-grid__overlay button">
                    <span class="button-text">leave request</span>
                  </div>
                </button>
              </div>
              <ul class="card-list card-list--desk">
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> Website development <br> and support
                </li>
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> App development
                </li>
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> Contextual advertising
                </li>
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> Email marketing
                </li>
              </ul>
            </div>
            <div class="card-order">01</div>
          </div>
        </li>
        <li class="services__box card">
          <div class="card-grid">
            <div class="card-grid__content">
              <div class="card-grid__inner">
                <div class="card-grid__header">
                  DIGITAL & WEB
                </div>
                <ul class="card-list card-list--mob">
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> Website development <br> and support
                  </li>
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> App development
                  </li>
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> Contextual advertising
                  </li>
                  <li class="card-list__item">
                    <span class="card-list__item-bullet card-list__item-bullet--square"></span> Email marketing
                  </li>
                </ul>
                <div class="card-grid__info">
                  <p>
                    We have a dynamic team of developers and we are used to the agile framework. We can start our journey with just an idea and leave you with a fully functional product with a market share.
                  </p>
                </div>
                <button class="card-grid__btn">
                  <div class="card-grid__btn-price">
                    From <span>1 450 $</span>
                  </div>
                  <div class="card-grid__overlay button">
                    <span class="button-text">leave request</span>
                  </div>
                </button>
              </div>
              <ul class="card-list card-list--desk">
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> Website development <br> and support
                </li>
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> App development
                </li>
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> Contextual advertising
                </li>
                <li class="card-list__item">
                  <span class="card-list__item-bullet card-list__item-bullet--square"></span> Email marketing
                </li>
              </ul>
            </div>
            <div class="card-order">01</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
