.header {
  --burger-w: 30px;
  --burger-h: 12px;
  --header-content-gap: 3rem;

  background-color: rgba(var(--bg-1),1);

  padding: clamp(20px, 1.875vw, 30px) 0 var(--root-py) 0;

  color: rgba(var(--cl-w), 1);

  &--single {
    background-color: rgba(var(--bg-2), 1);
    padding: clamp(20px, 1.875vw, 30px) 0;

    .header-btn {
      border: 1px solid rgba(var(--cl-b), 1);
      span {
        color: rgba(var(--cl-b), 1) !important;
      }
      &::before {
       background-color: rgba(var(--bg-2), 1);
      }
    }
    .header-burger {
      span {
        background-color: rgba(var(--cl-b), 1);
      }
    }
    .header-lang {
      &__selected {
        color: rgba(var(--cl-b),1);
        &::after {
          background-color: rgba(var(--cl-b),1);
        }
      }
      a {
        color: rgba(var(--cl-b),1);
        &::after {
          background-color: rgba(var(--cl-b),1);
        }
      }
    }
  }

  &-divider {
    display: none;

    @media only screen and (max-width: 428px) {
      display: block;
    }
  }
  &__body {
    padding-top: 180px;
  }
  &-output {
    white-space: pre;
    overflow: hidden;

    position: relative;
    color: rgba(var(--cl-main), 1);
    &::after {
      @include pseudo;

      width: 3px;
      height: 100%;

      background-color: rgba(var(--cl-w), 1);

      right: -3px;
      top: 0;

      animation: blink 500ms step-end infinite alternate;
    }
  }
  &-burger {
    width: var(--burger-w);
    height: var(--burger-h);

    display: none;
    flex-direction: column;
    justify-content: space-between;

    position: relative;

    @include laptop {
      display: flex;
    }

    &__bar {
      display: block;

      width: 100%;
      height: 2px;

      position: absolute;

      background-color: rgba(var(--cl-w), 1);

      left: 0;

      transition: all 300ms ease;

      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        bottom: 0;
      }
    }

    &--active {
      .header-burger__bar {
        &:nth-child(1) {
          top: calc((var(--burger-h) / 2) - 1px);
        }
        &:nth-child(2) {
          bottom: calc((var(--burger-h) / 2) - 1px);
        }
      }
    }
  }
  &-dynamic {
    padding: 30px 0 0 0;

    transition: opacity .4s,background-color .3s;
    min-height: 60px;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 5;

    &--menu {
      background-color: rgba(var(--bg-1), 1);
    }
    &--active {
      padding: .5rem 0;

      position: fixed;

      pointer-events: all;

      width: 100%;

      @include hover {
        &:hover {
          background-color: rgba(var(--bg-1), 1);
        }
      }
    }
  }

  &-lang {
    position: relative;
    &:hover {
      .header-lang__hidden {
        opacity: 1 !important;
        pointer-events: all !important;
      }
      .header-lang__selected {
        &::after {
          width: 100% !important;
        }
      }
    }
    &__selected {
      font-size: var(--t-md);
      font-weight: 500;
      font-family: var(--ff-r);
      text-transform: uppercase;
      color: rgba(var(--cl-w), 1);
      letter-spacing: 0.36px;
      transition: all 300ms ease;
      &::after {
        @include pseudo;
        width: 0;
        background-color: rgba(var(--cl-w), 1);
        height: 2px;
        bottom: -2px;
        left: 0;
        transition: all 300ms ease;
      }
    }

    &__hidden {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      padding-top: 1rem;
      opacity: 0;
      transition: all 300ms ease;
      pointer-events: none;
    }
    &__list {
      display: flex;
      flex-direction: column;
      grid-gap: .5rem;
    }
    &__item {
      a {
        font-size: var(--t-md);
        font-weight: 500;
        font-family: var(--ff-r);
        text-transform: uppercase;
        color: rgba(var(--cl-w), 1);
        letter-spacing: 0.36px;
        position: relative;
        &::after {
          @include pseudo;
          width: 0;
          background-color: rgba(var(--cl-w), 1);
          height: 2px;
          bottom: -2px;
          left: 0;
          transition: all 300ms ease;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
  &-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__col {
      display: flex;
      align-items: center;
      grid-gap: 40px;
    }
  }
  &-top {
    margin-bottom: clamp(34px, 5vw, 80px);
  }
  &-title {
    transform: translateY(-1rem);

    grid-column: 1 / 7;
    font-size: 51px;
  }
  &-mob-btn {
    display: none;
  }
  &-content {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: var(--header-content-gap);
  }
  &-arrow {
    grid-column: 7 / 10;
    img {
      max-width: 150px;
    }
  }
  &-info {
    grid-column: 7 / 10;
  }
  &-logo {

    position: relative;
    &__icon {
      max-width: var(--logo-w);

      img, svg {
        display: block;
        width: 100%;
      }
    }
    &__hidden {
      width: max-content;
      position: absolute;
      left: calc(var(--logo-w) + 14px);
      bottom: 0;

      transition: transform 400ms ease, opacity 200ms ease;

      transform: translateX(-1rem);
      opacity: 0;

      pointer-events: none;

      img, svg {
        display: block;
        width: 100%;
      }
    }
    @include hover {
      .header-logo__hidden {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}

@include tablet {
  .header {
    &-logo {
      &__icon {

      }
    }
    &-dynamic {
      &--active {
        background-color: rgba(var(--bg-1), 1);
      }
    }
    &-content {
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 1.875rem 0;
      grid-template-areas:
      'title title title title title'
      'info info info arrow arrow'
      'btn btn btn btn btn';
    }
    &-title {
      grid-area: title;
      transform: translateY(0);
    }
    &-arrow {
      grid-area: arrow;

      display: flex;
      justify-content: flex-end;

      img {
        --arrow-ratio: 100px;

        width: var(--arrow-ratio);
        height: var(--arrow-ratio);

        aspect-ratio: 1 / 1;
      }
    }
    &-mob-btn {
      display: flex;
      grid-area: btn;

      margin-top: 0.625rem;
    }
    &-info {
      grid-area: info;
    }
  }
}



.highlight {
  background-color: white;
  display: inline-block;
  transform-origin: 0 100%;
  transform: scaleY(0);
  transition: transform 0.1s ease-in-out;
}

@include laptop {
  .header {
    &__body {
      padding-top: 100px;
    }
    &-row {
      &__col {
        display: none;
      }
    }
    &-dynamic {
      padding: 10px 0;
    }
    &-logo {
      --logo-w: 30px;
    }
  }
}
.message,
.header-output {
  color: rgba(var(--cl-main), 1);
  padding-left: 1rem;
  @include small-tablet {
    display: block;
    min-height: 74px;
    padding-left: 0;
  }
  @include mobile {
    min-height: 50px;
  }
}
