.header {
  --header-content-gap: 3.375rem;

  background-color: rgba(var(--bg-1),1);

  padding: clamp(20px, 1.875vw, 30px) 0 var(--root-py) 0;

  color: rgba(var(--cl-w), 1);

  &__body {
    padding-top: 180px;
  }
  &-dynamic {
    padding-top: 30px;

    transition: opacity 400ms ease, background-color 300ms ease;
    min-height: 60px;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 5;

    &--sticky {
      position: fixed;
      opacity: 0;
      visibility: hidden;
      pointer-events: all;

      width: 100%;

      position: fixed;

      @include hover {
        &:hover {
          background-color: rgba(var(--bg-1), 1);
        }
      }
    }
    &--active {
      transform: translateY(0);

      padding: .5rem 0;

      pointer-events: all;
      visibility: visible;
      opacity: 1;
    }
  }

  &-lang {
    position: relative;

    &__selected {
      font-size: var(--t-md);
      font-weight: 500;
      font-family: var(--ff-r);
      text-transform: uppercase;
      color: rgba(var(--cl-w), 1);
      letter-spacing: 0.36px;
    }

    &__hidden {
      position: absolute;
      display: none;
    }
    &__list {
      display: flex;
      flex-direction: column;
      grid-gap: .5rem;
    }
    &__item {

    }
  }
  &-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__col {
      display: flex;
      align-items: center;
      grid-gap: 40px;
    }
  }
  &-top {
    margin-bottom: clamp(34px, 5vw, 80px);
  }
  &-title {
    transform: translateY(-1rem);

    grid-column: 1 / 7;
  }
  &-mob-btn {
    display: none;
  }
  &-content {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: var(--header-content-gap);
  }
  &-arrow {
    grid-column: 7 / 10;
    img {
      max-width: 150px;
    }
  }
  &-info {
    grid-column: 7 / 10;
  }
  &-logo {
    --logo-w: 46px;

    position: relative;
    &__icon {
      max-width: var(--logo-w);

      img, svg {
        display: block;
        width: 100%;
      }
    }
    &__hidden {
      width: max-content;
      position: absolute;
      left: calc(var(--logo-w) + 14px);
      bottom: 0;

      transition: transform 400ms ease, opacity 200ms ease;

      transform: translateX(-1rem);
      opacity: 0;

      pointer-events: none;

      img, svg {
        display: block;
        width: 100%;
      }
    }
    @include hover {
      .header-logo__hidden {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}

@include tablet {
  .header {
    &-logo {
      &__icon {

      }
    }
    &-dynamic {
      &--active {
        background-color: rgba(var(--bg-1), 1);
      }
    }
    &-content {
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 1.875rem;
      grid-template-areas:
      'title title title title title'
      'info info info arrow arrow'
      'btn btn btn btn btn';
    }
    &-title {
      grid-area: title;
      transform: translateY(0);
    }
    &-arrow {
      grid-area: arrow;

      display: flex;
      justify-content: flex-end;

      img {
        --arrow-ratio: 100px;

        width: var(--arrow-ratio);
        height: var(--arrow-ratio);

        aspect-ratio: 1 / 1;
      }
    }
    &-mob-btn {
      display: flex;
      grid-area: btn;

      margin-top: 0.625rem;
    }
    &-info {
      grid-area: info;
    }
  }
}

#output {
  white-space: pre;
  overflow: hidden;
}

.highlight {
  background-color: white;
  display: inline-block;
  transform-origin: 0 100%;
  transform: scaleY(0);
  transition: transform 0.1s ease-in-out;
}

@include laptop {
  .header {
    &__body {
      padding-top: 100px;
    }
    &-row {
      &__col {
        display: none;
      }
    }
    &-dynamic {
      padding: 20px 0;
    }
    &-logo {
      --logo-w: 30px;
    }
  }
}
