.mission {
  position: relative;
  background-color: #fff;
  &::before {
    @include pseudo;

    width: 100%;
    height: 100%;

    left: 0;
    top: 0;

    background-color: rgba(var(--bg-3), 1);
  }
  &__body {
    overflow: hidden;
  }
  &__header {
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  &__head {
    display: inline-block;
    animation: marquee 15s linear infinite;
    span {
      white-space: nowrap;
      text-transform: uppercase;
      font-size: clamp(34px, 3.625vw, 58px);
      line-height: 130%;
    }
  }
}

.figures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 74px;

  margin-top: 70px;

  &__item {
    overflow: hidden;
    position: relative;

    min-height: 90px;

    display: flex;
    align-items: center;

    &--active {
      .figures__shape {
        --shape-ratio: 10px;
      }
      .figures__shape-content {
        opacity: 1;
        transform: translateX(0%) translateY(-50%);

        left: calc(10px + 11px);
      }
    }

    @include hover {
      .figures__shape {
        transform: translateX(-100%);
        // opacity: 0;
      }
      .figures__shape-content {
        opacity: 1;
        transform: translateX(0%) translateY(-50%);
      }
    }
  }

  &__shape {

    width: var(--shape-ratio);
    height: var(--shape-ratio);

    background-color: rgba(var(--cl-b), 1);

    transition: all 400ms ease;

    &-content {
      font-size: clamp(var(--t-md), 1.625vw, var(--t-xxl));
      font-weight: 500;
      text-transform: uppercase;

      position: absolute;

      // opacity: 0;

      pointer-events: none;

      top: 50%;
      left: 0;
      transform: translateX(-100%) translateY(-50%);

      transition: 400ms ease;
    }

    &--square {
      border-radius: 0;
    }
    &--circle {
      border-radius: 50%;
    }
    &--triangle {
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
  }
}

@include laptop {
  .mission {
    &__head {
      animation: none;

      & > span {
        white-space: wrap;
      }
    }
  }
  .figures {
    &__item {
      @include hover {
        .figures__shape {
          transform: translateX(0);
        }
        .figures__shape-content {
          transform: translateX(-100%) translateY(-50%);
        }
      }
    }
  }
}

@include small-tablet {
  .mission {
    &__row {
      display: flex;
      flex-direction: column;
      grid-gap: 36px;
    }
  }
  .figures {
    &__shape-content {
      font-size: var(--t-md);
    }
  }
}
