.navbar {
  position: relative;

  z-index: 10;

  mix-blend-mode: difference;

  &--black {
    mix-blend-mode: normal;
    .navbar-list__link {
      color: rgba(var(--cl-b), 1);
      font-weight: 500;
    }
  }

  @include laptop {
    position: fixed;
  }

  &__container {
    position: unset;

  }
  width: 100%;
  &-options {
    display: none;
  }
  &-list {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;

    width: fit-content;

    position: fixed;
    z-index: 10;

    max-width: var(--container-width);

    top: 45%;

    transform: translateY(-50%);

    @include laptop {
      position: initial;
      transform: translateY(0);
    }

    &__link {
      font-family: var(--ff-r);
      font-size: var(--t-md);
      font-weight: 400;
      letter-spacing: 0.36px;
      text-transform: uppercase;

      color: rgba(var(--cl-w),1);

      position: relative;

      &::before {
        @include pseudo;

        width: 100%;
        height: 1px;

        transform: scale(.5);
        transform-origin: left;

        background-color: rgba(var(--cl-w), 1);

        opacity: 0;

        left: 0;
        bottom: -3px;

        transition: all 400ms ease;
      }
      &--active {
        &::before {
          transform: scale(1);
          opacity: 1;
        }
      }
      @include hover {
        &::before {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }
}

@include laptop {
  .navbar {
    --container-pt: 38px;

    mix-blend-mode: normal;

    background-color: rgba(var(--bg-1), 1);

    top: 62px;
    left: 0;

    transform: translate(0, -150%);

    width: 100%;
    height: 100%;

    z-index: 10;

    visibility: hidden;

    pointer-events: none;

    transition: all 400ms ease;

    &--active {
      transform: translate(0);
      visibility: visible;
      pointer-events: all;
    }
    &__container {
      overflow-y: scroll;

      display: flex;
      flex-direction: column;

      padding-top: var(--container-pt);
      height: calc(100% - (var(--container-pt) * 2));

      &::-webkit-scrollbar {
        display: none;
      }
    }
    &-options {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-gap: 20px;

    }
    &-button {
      flex: 1;

      width: 100%;

      display: flex !important;
    }
    &-list {
      flex: 1;
      &__link {
        font-family: var(--ff-o);
        font-size: var(--t-xxl-2);
        font-weight: 500;
      }
    }
  }
}
