.projects {
  --gallery-grid-cols: 4;
  --gallery-grid-gap: 10px;
  --grid-image-h: auto;

  background-color: rgba(var(--bg-2), 1);


  &-more {
    @include dfc;

    padding: var(--root-orange-btn-py) var(--root-orange-btn-px);

    background-color: rgba(var(--cl-main), 1);

    text-align: center;

    width: 100%;

    &__text {
      color: rgba(var(--cl-b), 1);

      text-transform: uppercase;

      line-height: 100%;
      font-family: var(--ff-r);
      font-size: var(--t-md);
      font-weight: 500;
    }
  }
  &-grid {
    display: grid;
    grid-template-columns: repeat(var(--gallery-grid-cols), 1fr);
    grid-template-areas:
    'pink pink green green'
    'pink pink brown brown'
    'yell yell brown brown'
    'light light red red'
    'light light banana banana';
    grid-gap: var(--gallery-grid-gap);

    margin-bottom: 20px;

    &__list {
      display: flex;
      flex-direction: column;
      grid-gap: 0.875rem;

      &-item {
        font-size: var(--t-md);
        font-weight: 500;
        font-family: var(--ff-sf);
        letter-spacing: .5px;
        color: rgba(var(--cl-w), 1);
      }
    }
    &__image-hidden {
      position: absolute;

      left: 0;
      top: 0;

      width: 100%;
      height: 100%;

      transform: translateX(-100%);
    }
    &__content {
      position: relative;

      width: 100%;
      height: 100%;

      z-index: 2;

      padding: 2.75rem 1.25rem;

      color: rgba(var(--cl-w), 1);

      transition: opacity 100ms ease;

      opacity: 0;

      &-header {
        text-transform: uppercase;
        margin-bottom: 20px;
        font-size: clamp(var(--t-xxl-2), 2.25vw, var(--t-xxl-4))
      }
    }

    &__item {
      position: relative;
      width: 100%;
      height: var(--grid-image-h);

      overflow: hidden;

      &--active {
        .projects-grid__image-hidden {
          transform: translateX(0);
        }
        .projects-grid__image-main {
          transform: translateX(100%);
        }
      }

      &-video {
        position: absolute;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        object-fit: cover;
      }

      &::before {
        @include pseudo;

        width: 100%;
        height: 100%;

        background-color: rgba(var(--cl-b), .5);

        top: 0;
        left: 0;

        pointer-events: none;

        opacity: 0;

        z-index: 1;

        transition: opacity 100ms ease;
      }

      @include hover {
        .projects-grid__content {
          transform: translateY(0);
          opacity: 1;
        }
        .projects-grid__item-image {
          transform: scale(1.05);
        }
        &::before {
          opacity: 1;
        }
      }

      &:nth-child(1) {
        grid-area: pink;
        --grid-image-h: 600px;
      }
      &:nth-child(2) {
        grid-area: green;
        --grid-image-h: 400px
      }
      &:nth-child(3) {
        grid-area: yell;
       --grid-image-h: 400px
      }
      &:nth-child(4) {
        grid-area: brown;
        --grid-image-h: 600px;
      }
      &:nth-child(5) {
        grid-area: light;
        --grid-image-h: 620px;
      }
      &:nth-child(6) {
        grid-area: red;
        --grid-image-h: 300px;
      }
      &:nth-child(7) {
        --grid-image-h: 310px;
        grid-area: banana;
      }
      &-image {
        height: var(--grid-image-h);

        position: absolute;

        top: 0;
        left: 0;

        width: 100%;

        transition: transform 200ms ease;

        img {
          display: block;
          width: 100%;
          height: inherit;

          transition: transform 200ms ease;
        }
      }
    }
  }
}

@include small-tablet {
  .projects {
    &-grid {
      display: flex;
      flex-direction: column;


      &__item {
        &:not(.projects-grid__item--visible) {
          display: none;
        }
      }
    }
  }
}
