.services {
  --root-card-py: 1.875rem;
  --root-card-px: 1.25rem;
  --btn-max-w: 15rem;

  @include mobile {
    --root-card-px: 1rem;
  }

  background-color: rgba(var(--bg-2), 1);
}

.card {
  --order-h: 4.25rem;

  padding: var(--root-card-py) var(--root-card-px);

  border: 1px solid rgba(var(--cl-b),1);
  &-grid {
    &__overlay {
      min-height: 54px;
      padding: 0 12px;
      width: 100%;
    }
  }
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  &:first-child {
    .card-grid__inner {
      max-height: 100%;
    }
  }
  @include hover {
    .card-grid__overlay {
      transform: translateX(0);
    }
  }
  &-order {
    color: rgba(var(--cl-main), 1);
    font-size: 84px;

    line-height: 90%;

    position: absolute;

    top: 0;
    right: 0;
    width: 25%;
  }
  &-collapse {
    display: none;
    width: var(--collapse-btn-ratio);
    height: var(--collapse-btn-ratio);

    position: relative;

    &__bar {
      position: absolute;

      width: var(--bar-w);
      height: var(--bar-h);

      background-color: rgba(var(--cl-b), 1);

      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%) rotate(var(--bar-rotate));

      transition: all 200ms ease-out;

      &:nth-child(1) {
        --bar-w: 2px;
        --bar-h: var(--collapse-btn-ratio);
        --bar-rotate: 0deg;
      }
      &:nth-child(2) {
        --bar-w: var(--collapse-btn-ratio);
        --bar-h: 2px;
        --bar-rotate: 180deg;
      }
    }
  }
  &-list {
    width: 25%;

    margin-top: calc(var(--order-h) + 1.875rem);

    &--mob {
      display: none;
    }

    &__item {
      --bullet-ratio: 5px;

      display: flex;
      align-items: center;
      grid-gap: 10px;

      font-size: var(--t-md);
      font-family: var(--ff-r);
      line-height: 100%;

      &:not(:last-child) {
        margin-bottom: clamp(10px, 1.25vw, 20px);
      }

      &-bullet {
        flex: 0 0 auto;

        display: block;

        width: var(--bullet-ratio);
        height: var(--bullet-ratio);

        background-color: rgba(var(--cl-b), 1);

        &--square {
          border-radius: 0;
        }
        &--circle {
          border-radius: 50%;
        }
        &--triangle {
          --bullet-ratio: 7px;

          height: 8px;

          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
      }
    }
  }
  &-grid {
    position: relative;
    &__content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    &__inner {
      max-width: 30rem;
    }
    &__header {
      font-size: clamp(var(--t-xxl-2), 2.25vw, var(--t-xxl-4));
      font-weight: 500;
      line-height: 130%;
      margin-bottom: 1.25rem;
      text-transform: uppercase;
    }
    &__overlay {
      --bg-current: rgba(var(--cl-b), 1);
      --cl-current: rgba(var(--cl-b), 1);

      position: absolute;

      left: 0;
      top: 0;

      height: max-content;

      transform: translateX(calc(-1 * (100% + 1px)));

      overflow: hidden;

      transition: transform 400ms var(--delay-transition);

      @include hover {
        .button-text {
          color: rgba(var(--cl-w), 1);
        }
      }

      &::before {
        display: none;
      }
    }
    &__info {
      p {
        color: rgba(var(--cl-2), 1);
      }
    }
    &__btn {
      overflow: hidden;
      min-height: 3.375rem;
      position: relative;
      margin-top: 1.25rem;

      width: 100%;
      max-width: var(--btn-max-w);

      &-price {
        color: rgba(var(--cl-b), 1);
        display: flex;
        grid-gap: 5px;
        align-items: flex-end;
        font-size: var(--t-md);
        line-height: 140%;

        & > span {
          color: rgba(var(--cl-main), 1);
          font-size: var(--t-xxl-4);
          font-weight: 500;
          font-family: var(--ff-o);
          line-height: 120%;
        }
      }
    }
  }
}

@include laptop {
  .card {

    min-height: 10.125rem;

    &--active {
      .card-grid__inner {
        margin-top: 122px;
      }
      .card-collapse {
        &__bar {
          &:nth-child(1) {
            --bar-rotate: 90deg;
          }
          &:nth-child(2) {
            --bar-rotate: 360deg;
          }
        }
      }
    }

    &-text-divider {
      display: none;
    }
    &-order {
      width: auto;
      position: absolute;

      top: 26px;
    }
    &-collapse {
      display: block;
    }
    &-list {
      &--mob {
        width: auto;
        display: block;
        margin: 0;

        grid-area: list;
      }
      &--desk {
        display: none;
      }
    }
    &-grid {
      position: relative;

      z-index: 1;

      &__header {
        grid-area: header;
        position: absolute;

        transition: top 300ms ease;

        top: calc(32px + var(--collapse-btn-ratio));

        line-height: 100%;

        margin-bottom: 0;

        padding-right: 80px;

        @include hide-text(1);
      }
      &__info {
        grid-area: info;
      }
      &__btn {
        grid-area: price;

        margin-bottom: 1.25rem;
      }
      &__inner {
        display: grid;
        max-width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        'list list list'
        'price price price'
        'info info info';

        transition: all 300ms ease;

        max-height: 0;
        overflow: hidden;

        margin-top: calc(40px + var(--collapse-btn-ratio));
      }
      &__content {
        flex-direction: column;
      }
    }
  }
}
